* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #3e3e3f;
}

* {
    box-sizing: border-box;
}

.my-col {
    text-align: center;
    /* background-color: goldenrod; */
    background-clip: content-box;
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */
    height: 100%;
}

.my-container {
    max-width: 1140px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    /* background-color: black; */
}

.my-header {
    background-color: black;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    height: 71px;
}

.my-header .my-div-nav-item {
    line-height: 55px;
    text-align: end;
}

.my-header .my-div-nav-item-2 {
    line-height: 55px;
    text-align: end;
    color: black;
}

.my-header .my-div-nav-item-2 a {
    text-decoration: none;
    color: black;
}

.my-div-nav-item a {
    text-decoration: none;
    color: white;
}

.my-div-nav-item a:hover {
    color: white;
    cursor: pointer;
    color: yellow;
}

.my-header__cart-notice {

    position: absolute;
    padding: 2px 4px;
    color: black;
    background-color: white;
    border-radius: 8px;
}

@media only screen and (max-width: 737px) {
    .my-header {
        height: 111px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .my-col {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.my-footer {
    background-color: black;
    padding: 10px;
    width: 100%;
    height: auto;
    margin-top: 200px;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.my-footer a:hover {
    color: white;
}

.my-footer a {
    color: #8a8a8a;
    text-decoration: none;
    color: #555;
    text-align: center;
}

.my-footer a {
    color: #8a8a8a;
}

.my-footer a:hover {
    color: white;
    cursor: pointer;
}

.my-footer-col-3 {
    margin-bottom: 50px;
}

.my-footer-col-3 img {
    width: 180px;
    margin-bottom: 5px;
}

.my-footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    /* margin-left: -39px; */
}

.my-footer p {
    color: #8a8a8a;
}


.my-footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.my-footer h4 {
    color: #fff !important;
    margin-bottom: 20px;
}

/*icon account*/
#link-account{
    display: none;
}
#link-account-2{
    display: none;
}


/* help */
#help {
    position: fixed;
    right: 25px;
    bottom: 100px;
    background: #456bd9;
    clip-path: circle(50%);
    height: 60px;
    width: 60px;
    background-color: #333;
    text-align: center;
    padding: 0;
    margin: 0;
    border-color: black;
}

#help :hover {
    background-color: silver;
}
#help i {
    font-size: 45px;
}
#help a {
    display: block;
    color: white;
    padding: 0;
    margin: 0;
}
#help a img{
    height: 60px;
    width: 60px;
}

/* scroll to top */
#btn-scroll {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 30px;
    opacity: 0.7;
    clip-path: circle(60%);
    height: 40px;
    width: 40px;
}
#btn-scroll i {
    font-size: 25px;
    color: #333;
}
#btn-scroll i:hover {
    color: #f1f1f1;
}
